{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TaskMaster{% endblock %}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>

    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Common JS -->
    <script src="{% static 'js/todo.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
